*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E9F5FC;
    /* overflow: hidden; */
}
.website_container{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 6;
}
header .logo-wrapper h2{
    font-size: 25px;
    font-weight: 600;
    color: #0099FF;
    text-align: left;
    margin-left: 35px;
}

.logo-wrapper img{
    width: 60px;
}
header nav.nav-wrapper ul{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    list-style: none;
}
header nav.nav-wrapper ul li a{
    text-decoration: none;
    color: #2B2D2F;
    font-size: 17px;
    transition: ease-in .2s;
    font-weight: 400;
    position: relative;
}
header nav.nav-wrapper ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #0099FF;
    transition: 0.5s;
}
header .nav-wrapper ul li a:hover::before{
    width: 100%;
}
header nav.nav-wrapper ul li a.active{
    color: #0099FF;
}

header .nav-wrapper ul li a:hover{
    color: #0099FF;
}
header .search-wrapper {
    width: 90%;
    background-color: #fff;
    color: #2B2D2F;
    padding: 12px 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: 90% 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    transition: .5s;
    border: 2px solid transparent;
    margin: 0 auto;
}
header .search-wrapper input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

header .search-wrapper i{
    text-align: end;
    cursor: pointer;
    transition: 0.2s;
}
header .search-wrapper i:hover{
    color:#929292 ;
}   
.menu_icons{
    display: none;
}
                                            /* ^Home Section Start */

.Home{
    display: flex;
    grid-template-columns: 40% 40%;
    align-items: center;
    max-width:1382px ;
    margin: 40px auto 20px;
    position: relative;
    padding: 0 49px;
    /* overflow: hidden; */
}
.home-text{
    position: relative;
    top: 150px;
    width: 50%;
    z-index: 2;
}
.Home .home-text h4{
    font-size: 20px;
    color: #000;
}
.Home .home-text h1{
    font-size: 45px;
    margin: 0px 0 10px;
    color: #000;
    font-weight: 700;
}
.Home .home-text h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0099FF;
    position: relative;
}
@keyframes in-out-an {
    0%{
        left: 480px;
    }
    100%{
        left: -5px;
    }
}
.Home .home-text p{
    color: #8f8e8e;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
}
.Home .home-text button{
    background-color: #fff;
    color: #0099FF;
    padding: 15px 55px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 5;
    border-radius: 0 15px 0 15px;
    transition: 0.6s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.Home .home-text button:hover{
    border-radius: 0;
}
.Home .home-text button::before{
    background-color: transparent;
    z-index: 2;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -7px;
    border: 3px solid;
    top: -7px;
    border-bottom: none;
    border-right: none;
    transition:ease-out 0.5s;
}
.Home .home-text button::after{
    background-color: transparent;
    z-index: 2;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    right: -7px;
    border: 3px solid;
    bottom: -7px;
    border-left: none;
    border-top: none;
    transition:ease-out 0.5s;
}
.Home .home-text button:hover::before{
    width: 183px;
    height: 63px;
}
.Home .home-text button:hover::after{
    width: 183px;
    height: 63px;
}

.img-section{
    position: absolute;
    width: 500px;
    height: 1000px;
    background-color: #fff;
    border-radius: 0 0 250px 250px;
    transform: rotate(31deg);
    right: -10px;
    top: -380px;
    z-index: 1;
    overflow: hidden;
}

.img-section img{
    width: 350px;
    position: absolute;
    bottom: -45px;
    transform: rotate(-32deg);
    left: 30px;
    transition: 0.6s;
    cursor: pointer;
   
}
.img-section img:hover{
    transform: rotate(-32deg) scale(1.1);
}


                                            /* ^Home Section End */

@media (max-width:1105px) {

    header nav{
        right: -100%;
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }
    header nav.active{
        right: 0;
    }
    header nav.nav-wrapper ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 40px;
        font-size: 20px;
    }
   .menu_icons{
    display: flex;
    margin-right: 10px;
    justify-content: end;
    z-index: 100;
    flex-direction: column;
    row-gap: 9px;
    text-align: end;
    align-items: end;
    cursor: pointer;
}
.menu_icons.activ .menu:nth-child(1){
    transform: translateX(-15px) rotate(45deg);
}
.menu_icons.activ .menu:nth-child(2){
    display: none;
}
.menu_icons.activ .menu:nth-child(3){
    transform: translate(-15px,-11px) rotate(-45deg);
}
.menu{
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: 0.4s;
}
.home-text{
    width: 70%; 
}
.Home .home-text h4{
    font-size: 18px;
}
.Home .home-text h1{
    font-size: 38px;
}
.Home .home-text h2{
    font-size: 29px;
}
.Home .home-text p{
    color: #000;
    width: 90%;
    font-weight: 500;
    font-size: 16px;
}

.img-section{
    opacity: 0.3;
}

}
@media (max-width:756px) {
    .home-text{
        width: 90%; 
    }
}
@media (max-width:626px) {
    .img-section{
        right: -90px;
    }
    .home-text{
        width: 100%; 
    }
    .Home .home-text h4{
        font-size: 16px;
    }
    .Home .home-text h1{
        font-size: 31px;
    }
    .Home .home-text h2{
        font-size: 25px;
    }
    .Home .home-text p{
        font-size: 15px;
    }
}
@media (max-width:498px) {
    .img-section{
        right: -130px;
    }
}
                                        /*& Home & Header Part Responsive  Start */



                                        /*& Home & Header Part Responsive  End */

.about{
    background-color: red;
    height: 100vh;
}
.services{
    height: 100vh;
    background-color: blue;
}


svg {
    width: 40px;
    display: block;
    margin: 40px auto 0;
    animation: dash;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      /* animation: dash-check .9s .35s ease-in-out forwards; */
    }
  }
  
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
    &.success {
      color: #73AF55;
    }
    &.error {
      color: #D06079;
    }
  }
  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
      
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash-check {
    0% {
      /* stroke-dashoffset: -100; */
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  /* @keyframes dash {
    0%{
        width: 100px;
    }
    100%{
        width: 40px;
    }
  }
   */
